body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
}
.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: antiquewhite;
    width: 500px;
    height: 700px;
    font-size: 20px;
}
.dados{
    display: flex;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    width: 564px;
    height: 240px;
    font-size: 30px;
}
.botao{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}